/**
 * Application
 */

@import 'ress/ress';

:root {
  font-family: Montserrat;
}

body {
  background-color: #0079c1;
}

main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

section {
  text-align: center;
}

img {
  vertical-align: top;
}

a {
  color: #fff;
  font-weight: 500;
}
